{% extends 'base.html.twig' %}

{% block titrePage  %}Créer une nouvelle Formation{% endblock %}

{% block contenuPage  %}

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste</a>
{% endblock %}
