{% extends 'base.html.twig' %}


{% block titre %}
<center><h1>Cette page affiche les filtres par entreprises</h1></center>
{% endblock %}

{% block boutons %}
<div class="d-grid gap-2 justify-content-center">

{% for entrepriseCourante in entreprise %}

  <a href={{path('pro_stages_entreprises',{id:entrepriseCourante.id})}}><button type="button" class="btn btn-dark">{{entrepriseCourante.nom}}</button> </a>

{% endfor %}
</div>
{% endblock %}
