{% extends 'base.html.twig' %}


{% block titre %}
<center><h1>Cette page affiche les filtres par formations</h1></center>
{% endblock %}

{% block boutons %}
<div class="d-grid gap-2 justify-content-center">

{% for formationCourante in formation %}

  <a href={{path('pro_stages_formations',{intitule:formationCourante.intitule})}} > <button type="button" class="btn btn-dark">{{formationCourante.intitule}}</button> </a>

{% endfor %}

</div>
{% endblock %}
