{% extends 'base.html.twig' %}


{% block titre %}
<center><h1>Cette page affiche les filtres par entreprises</h1></center>
{% endblock %}

{% block boutons %}
<div class="d-grid gap-2 justify-content-center">
  <a href={{path('pro_stages_entreprises',{idEntreprise:'IBM'})}}><button type="button" class="btn btn-dark">IBM</button> </a>
  <a href={{path('pro_stages_entreprises',{idEntreprise:'Capgemini'})}}> <button type="button" class="btn btn-dark">Capgemini</button> </a>
  <a href={{path('pro_stages_entreprises',{idEntreprise:'Safran'})}}> <button type="button" class="btn btn-dark">Safran</button> </a>
</div>
{% endblock %}
