{% extends 'base.html.twig' %}

{% block titre %}
<center><h1>Bienvenue sur la page d'accueil de Prostages</h1></center><br/>
{% endblock %}

{% block tableau %}
<center>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr class="table-light">
            <th>
              Titre
            </th>
            <th>
              Nom
            </th>
            <th>
              Activité
            </th>
            <th>
              Adresse
            </th>
            <th>
              Formation concernée
            </th>
            <th>
              Plus d'infos
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td>
              Sécurité Chez IBM
            </td>
            <td>
              IBM
            </td>
            <td>
              Bancaire
            </td>
            <td>
              21 rue de IBM, 64100 Bayonne
            </td>
            <td>
              DUT Informatique
            </td>
            <td>
              <a href="stage/IBM1"> <button type="button" class="btn btn-primary">En savoir plus</button> </a>
            </td>
          </tr>
          <tr class="table-light">
            <td>
              Système informatique Capgemini
            </td>
            <td>
              Capgemini
            </td>
            <td>
              Bancaire
            </td>
            <td>
              17 rue Cap, 64100 Bayonne
            </td>
            <td>
              LP métier du numérique
            </td>
            <td>
              <a href="stage/Capgemini1"> <button type="button" class="btn btn-primary">En savoir plus</button> </a>
            </td>
          </tr>
          <tr class="table-light">
            <td>
              Sécurité Chez IBM
            </td>
            <td>
              IBM
            </td>
            <td>
              Bancaire
            </td>
            <td>
              21 rue de IBM, 64100 Bayonne
            </td>
            <td>
              DUT Génie Industriel
            </td>
            <td>
              <a href="stage/IBM2"> <button type="button" class="btn btn-primary">En savoir plus</button> </a>
            </td>
          </tr>
          <tr class="table-light">
            <td>
              Système informatique Safran
            </td>
            <td>
              Safran
            </td>
            <td>
              Hélicoptère
            </td>
            <td>
              27 rue Safran, 64100 Bayonne
            </td>
            <td>
              DUT Informatique
            </td>
            <td>
              <a href="stage/Safran1"> <button type="button" class="btn btn-primary">En savoir plus</button> </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
{% endblock %}
