{% extends 'base.html.twig' %}

{% block titre %}
<center>
  {% if idFormation == "dut-informatique" %}
   {% set formation = "DUT Informatique" %}

   {% elseif idFormation == "lp-metiers-du-numerique" %}
 {% set formation = "LP Métier du Numérique" %}

    {% elseif idFormation == "dut-genie-industriel" %}
    {% set formation = "DUT Génie Industriel" %}

 {% endif %}
 <h1> Cette page affichera la liste des offres pour le {{formation}}  </h1>
</center>
{% endblock %}
