<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Prostages{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bloc de feuilles de style -->
  {% block stylesheets %}<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
  crossorigin="anonymous">
  {% endblock %}

</head>
<body>
  <div class="container-fluid">

    <!-- Bloc de menu -->
    {% block menu %}
    <div class="row">
      <div class="col-md-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:8000/filtreEntreprises">Filtre par Entreprises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:8000/filtreFormations">Filtre par Formations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:8000/">Aucun filtre</a>
          </li>
        </ul>
      </div>
    </div>
    {% endblock %}

    <!-- Bloc de contenu -->
    {% block body %}
    <div class="row">
      <div class="col-md-12">
        {% block titre %}{% endblock %}
        {% block contenu %}{% endblock %}
        {% block boutons %}{% endblock %}
        {% block tableau %}{% endblock %}
      </div>
    </div>
    {% endblock %}

    <!-- Bloc de fin de page -->
    <footer style="position: absolute; bottom: 0; left: 0; right: 0">
    {% block footer %}
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center">
          <div class="card-header">
            Réalisé par
          </div>
          <div class="card-body">
            <h5 class="card-title">Chems Sakji</h5>
            <p class="card-text">Étudiant en informatique à l'IUT de Bayonne</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </footer>
    <!-- Bloc de feuilles de JS -->
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% endblock %}
  </div>
</body>
</html>
